<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1>欢迎登录选课系统</h1>
					<div class="head">
						<img src="images/user.png" alt=""/>
					</div>
				<form>
						<input id="username" type="text" class="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}" >
						<input id="password" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit">
							<input id="enter" type="button" value="登录" >
							<input id="register" type="button" value="注册" onclick="location.href='/register'">
					</div>
					<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
					<script>
                        $("#enter").click(function () {
                            $.ajax({
                                type:"post",
                                url:"/login",
                                data:{"name":$("#username").val(),"password":$("#password").val()},
                                dataType:"json",
                                async:true,
                                success:function (data) {
                                    if(data.code==200){
                                        alert(data.msg)
                                        location.href="/main"
                                    }
                                    else {
                                        alert(data.msg)
                                        location.href="/enter"
                                    }
                                }
                            })
                        })

					</script>

				</form>
			</div>

		</div>


</body>
</html>