<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>袁洋</title>
    <!--<link>加载外部资源-->
    <link rel="short icon" href="Resource/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--stylesheet加载外部样式表-->
    <link href="css/ExternalStyle.css" rel='stylesheet' type='text/css' />
    <style>
        .MD_bd_img{
            width: 100%;
            height: 200px;
        }
        .MD_external_div{
            position: relative;
        }
        .MD_inner_div{
            left: 50%;
            top: 50%;
            margin-left: -33px;
            margin-top: -60px;
            position: absolute;
            width: 66px;
            height: 120px;
            text-align: center;
        }
        button{
            background: rgb(40,133,202);
            width: 66px;
        }
        .MD_third_div{
            border: 1px solid #cccccc;
            width: 90%;
            margin: 10px;
            border-radius: 5px;
            /*竖直居中*/
            line-height: 50px;
            height: 50px;
        }
        .MD_gr_img{
            float: left;
            margin-left: 10px;
            margin-top: 15px;
            margin-right: 20px;
        }
        .MD_jt_img{
            float: right;
            margin-top: 15px;
            margin-right: 10px;
        }
        .btn-danger{
            margin-top: 50px;
            /*margin-left: 100px;*/
            width: 100px;
        }
    </style>
</head>
<body>

<header class="DS_header">
    <!--第一部分-->
    <span>选课系统</span>
</header>
<!--第二部分-->
<div class="MD_external_div">
    <img class="MD_bd_img" src="images/banner5.png" alt="">
    <div class="MD_inner_div">
        <img class="MD_head_img" src="images/head.png" alt="">
        <span><%= name %></span>

    </div>
</div>
<!--第三部分-->
<div class="MD_third_div">
    <img class="MD_gr_img" src="images/gr_3.png" alt="">
    <span>我的资料</span>
    <img class="MD_jt_img" src="images/jt.png" alt=""  onclick="location.href='/information'">
</div>

<div class="MD_third_div">
    <img class="MD_gr_img" src="images/gr_4.png" alt="">
    <span >修改密码</span>
    <img class="MD_jt_img" src="images/jt.png" alt="" onclick="location.href='/change'">
</div>
<p style="text-align: center"><button type="button" class="btn btn-danger " onclick="location.href='/relogin'">退出登录</button></p>

<footer>
    <!--第四部分-->
    <a href="/main">
        <img src="images/nav10.png" alt="">
        <span >选课</span>
    </a>
    <a href="/timetable">
        <img src="images/nav20.png" alt="">
        <span>课程表</span>
    </a>
    <a href="/chosen">
        <img src="images/nav30.png" alt="">
        <span>已选课程</span>
    </a>
    <a href="/myself">
        <img src="images/nav41.png" alt="">
        <span style="color: #1296db">我的资料</span>
    </a>
</footer>
</body>
</html>